/*
 * Base styles
 */
window#waybar {
  background: transparent;
  color: @theme_text_color;
  font-family: monospace, sans-serif;
  font-size: 12px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces,
#tray,
#mpd,
#wireplumber {
  background-color: @theme_bg_color;
  border-radius: 6px;
}

#tray,
#mpd,
#wireplumber,
#clock {
  padding: 0 10px;
}

#clock {
  background-color: @theme_selected_bg_color;
  border-radius: 6px;
}

/*
 * Button styles
 */
button {
  border: none;
  border-radius: 0;
}

/*
 * Workspace styles
 */
#workspaces button {
  padding: 0 5px;
  background-color: transparent;
}

#workspaces button.active {
  color: @theme_selected_bg_color;
  font-weight: 900;
}

#workspaces button.urgent {
  color: @warning_color;
  font-weight: 900;
}

/*
 * Clock styles
 */
#clock {
  font-weight: 900;
}

#mode {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}
